
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: rgb(7, 255, 226);
  /* Control the thikness of your lines */
  stroke-width: 3px;

}

.ct-grid{ stroke: rgb(81, 81, 81);}

.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: rgb(255, 204, 0);
  /* Control the thikness of your lines */
  stroke-width: 3px;

}

.ct-series-c .ct-line {
  /* Set the colour of this series line */
  stroke: rgb(174, 0, 255);
  /* Control the thikness of your lines */
  stroke-width: 3px;

}

.ct-series-d .ct-bar {
  /* Set the colour of this series line */
  stroke: rgb(145, 145, 145);
  /* Control the thikness of your lines */
}

.main {
  height: 100vh;
}


table.vert { border-collapse: collapse; white-space: nowrap; }
tr.vert { display: inline-block; }
th.vert, td.vert { display: block; border: 0px solid black; height: 35px }
tbody.vert, thead.vert { display: inline-block; vertical-align: top; }

tbody.vert {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

tbody.flow {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

tbody.horiz {
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
}
