<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{headLogo}}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


</head >

<main role="main" class="container-md">
<body style="background:black;color:white">
    <div id="vue-app">

        <div class="content-section row align-items-start m-5">

        <div class="col-5">

            <div class="content-section" >
                <h1  @click="goTo('')"> Trade Journal [[currentTrade()]] <span v-if="loaded > 0">(loaded)</span> </h1>
            </div>
            <div>
                <select class="form-select" id="entrySelect">
                    <template v-for="(item, key) in tradeHistory" :key="key">
                        <option :value="key">[[key]] [[item.record.TITLE]] </option>
                    </template>
                </select>
                <label class="btn" @click="getEntry()">LOAD</label>
                <label class="btn" @click="cycleJournal()">CYCLE</label>
                <label class="btn" @click="edit = !edit">EDIT</label>
            </div>

            <template v-for="(item, key) in journalData" :key="key">
                <div class="form-check form-switch">
                    <label>[[  key  ]]</label>
                    <div v-if="loaded == 0 || edit ">
                    <textarea :id="key" class="form-control" :placeholder="placeholderData[key]" v-model="journalData[key]" :style="getText(key)"></textarea>
                    </div>
                    <div :class="getJRow(journalData.RESULT)" v-else>
                        <template v-for="x in getSplit(journalData[key])">
                        <span> [[x]] </span><br>
                        </template>
                    </div>
                </div>
            </template>

            <br>

            <div class="content-section">

            <div class="input-group mb-3">
                <button @click="recordTrade()" class="btn btn-secondary m-3 btn-dark" type="button" id="button-addon1">Record Trade</button>
                <button @click="saveLocal(1)" class="btn btn-secondary m-3 btn-info" type="button" id="button-addon1">Save Local</button>
                <button @click="saveLocal(0)" class="btn btn-secondary m-3 btn-danger" type="button" id="button-addon1">Clear Local</button>
            </div>

            </div>
        </div>

        <div class="col-7">
                <div class="content-section" >
                    <h1> IMAGES </h1>
                    <input type="file" id="image" accept="image/*" @change="imageValidation('image')"> </input>
                    <button @click="deleteImage()" class="btn btn-secondary m-3 btn-danger" type="button" id="button-addon1">Delete</button>
                    <button @click="cycleImage()" class="btn btn-secondary m-3 btn-info" type="button" id="button-addon2">Cycle</button>

                <div class="row align-items-start">

                        <div class="col-9">
                            <img :src="imageArray[view]" class="img-fluid rounded">
                        </div>
                        <div class="col-3">
                            <div v-for="(item, key) in imageArray" :key="key" style="inline:block">
                            <img @click="view = key" :src="item" class="img-thumbnail rounded" :alt="key">
                            </div>
                        </div>
                </div>

            </div>
        </div>

        <div class="content-section text-dark">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                <template style="display:none" v-for="(item, key) in tradeHistory" :key="key">
                <tr :class="getRow(item.record.RESULT[0])">
                    <th scope="row"><span  @click="loadRecord(key)">#[[key]]</span> </th>
                    <td>[[item.record.TITLE]]</td>
                    <td>[[item.record.TYPE]]</td>
                    <td>[[item.record.RESULT]]</td>
                </tr>
                </template>
                </tbody>
            </table>
            </div>


        </div>



        <span style="display:none" id="tradeJournal">{{tradeJournal}}</span>



    </div> <!-- end vue app-->
</body>
</main>

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">

var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}


startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {
        console.log(localStorage)
        if (localStorage['lastJournal']) {
            this.journalData = JSON.parse(localStorage.lastJournal)
            this.imageArray = JSON.parse(localStorage.imageArray)
        }

        let tj = JSON.parse(document.getElementById('tradeJournal').innerHTML)
        //console.log('tj', tj)

        this.allHistory = tj

        this.tradeHistory = tj['One']

    },
    data: {
        months: ['October', 'March'],
        allHistory: {},
        journalData: {
            TITLE: '',
            TYPE: '',
            LEVELS: '',
            OFVOL: '',
            OTHER: '',
            EMOTION: '',
            REASON: '',
            RESULT: '',
        },
        placeholderData: {
            TITLE: '',
            TYPE: '',
            OTHER: 'PVAs, OBs, STs, BTs, SPs / stoch / timeframes / volatility / rsi',
            OFVOL: 'delta / trapped / divs / signals / IMBs / various volume profiles / session volume / dalton / vWAPs',
            LEVELS: 'Trend lines - reg / pf / local / patterns / Golden Pockets / MACRO - Dailys Weekly / Monthly / Pivots / Ranges / POCs',
            EMOTION: 'greed / fear / stress / focus',
            REASON: 'SL / TP / For and against',
            RESULT: 'lesson / missed',
        },
        tradeHistory: {},
        imageArray: {},
        image_b64 : null,
        loaded: 0,
        view: 1,
        btc: 0,
        edit: false,
        report: report,
        mobile: mobile,
        notesList: [],
        notesTemp: ''
    },
    methods: {
        goTo: function(link){

            var str = window.location.href.split('journal')[0]

            let url = str + link

            console.log('goTO', url);
            window.location = url

        },
        getSplit: function (x) {
            return x.split('/')
        },
        cycleImage: function () {
            let count = 0
            for (let x in this.imageArray) {
                count += 1
            }
            if (this.view == count) {
               this.view = 1
            } else {
               this.view +=1
            }
            console.log('cycle', count)
        },
        cycleJournal: function () {
            let count = 0
            for (let x in this.tradeHistory) {
                count += 1
            }
            if (this.loaded == count || this.loaded == 0) {
               this.loadRecord(1)
            } else {
                this.loadRecord(parseInt(this.loaded) + 1)
            }
            console.log('cycle entry', count)
        },
        deleteImage: function () {
            console.log(this.imageArray)
            delete this.imageArray[this.view]

            let newArray = {}

            let count = 1
            for (let x in this.imageArray) {
                newArray[count] = this.imageArray[x]
                count += 1
            }

            this.imageArray = newArray
        },
        currentTrade: function () {
            if (this.loaded == 0) {
                let a = []
                for (let x in this.tradeHistory){
                    a.push(x)
                }
                return a.length + 1
            } else {
                return this.loaded
            }
        },
        saveLocal: function (n) {
            if (n == 1) {
                let data = JSON.stringify(this.journalData)
                let ia = JSON.stringify(this.imageArray)
                localStorage.setItem('lastJournal', data)
                localStorage.setItem('imageArray', ia)
                console.log(localStorage)
                alert(data)
            } else {
                localStorage.clear()
                console.log(localStorage)
            }

        },
        loadRecord: function (key) {
            let rec = this.tradeHistory[key]

            console.log('loadRecord', key, rec)

            this.journalData = rec.record
            this.imageArray = rec.imageArray
            this.loaded = key
            this.view = 1
        },
        getText: function (key) {
            //console.log('TEXT', key)
            let e = document.getElementById(key)
            // console.log(e)
        },
        getRow: function (x) {
            let colors = {
                A : 'table-success',
                B : 'table-info',
                C : 'table-warning',
                F : 'table-danger'
            }

            if (colors[x]) {
              return colors[x]
            } else {
              return  'table-light'
            }

        },
        getJRow: function (x) {
            let colors = {
                A : 'bg-success  text-white',
                B : 'bg-info  text-white',
                C : 'bg-warning',
                F : 'bg-danger  text-white',
                O : 'bg-dark  text-white',
            }
            let cl =  colors[x[0]] +' m-2'
            console.log('jRow', cl)
            return cl
        },
        recordTrade: function () {
            console.log('recordTrade')

            $.ajax({
                data : {
                    record : JSON.stringify(this.journalData),
                    imageArray : JSON.stringify(this.imageArray),
                    currentTrade : this.currentTrade,
                },
                type : 'POST',
                url : '/recordTrade'

            })
            .done(function(data) {
                alert(data.result)

            })
            .fail(function(){
                  alert('error has occurred recordTrade');
            });


        },
        addImage: function () {
            console.log('addImage', JSON.stringify(this.imageArray))

            $.ajax({
                data : {
                    b64data : this.image_b64,
                    imageArray : JSON.stringify(this.imageArray),
                    currentTrade : this.currentTrade,
                },
                type : 'POST',
                url : '/addImage'

            })
            .done(function(data) {
                console.log(data.result)
                vue.imageArray = JSON.parse(data.result)
            })
            .fail(function(){
                  alert('error has occurred addImage');
            });


        },
        imageValidation : function(key) {
            let vue = this
            var fileInput = document.getElementById(key);
            var allowedExtensions = /(\.jpeg|\.png|\.jpg)$/i;
            var filePath = fileInput.value;
            console.log(filePath)

          if(fileInput.files[0].size > 44000000){
              alert("File is too big!");
              fileInput.value = '';
              return false;
          }
          else if(!allowedExtensions.exec(filePath)){
              alert('Please upload image: .jpeg/.png only.');
              fileInput.value = '';
              return false;
          }
          else{
              console.dir( 'FILE', fileInput.files[0] );
              var url = window.URL.createObjectURL(fileInput.files[0]);
              fetch(url)
              .then(function(res){
                  return res.blob();
                  })
              .then(function(savedBlob){
                  var reader = new FileReader();
                  reader.readAsDataURL(savedBlob);
                  reader.onloadend = function() {
                      vue.image_b64 = reader.result.split(',')[1];
                      console.log(vue.image_b64)
                      if (vue.image_b64) {
                        vue.addImage()
                      }
                }
              })
          }//end else
            return true
        },

    },
    watch: {

    }

})// end NEW VUE

}


</script>



{% endblock %}



