{% extends "layout.html" %}

{% block content %}

        <div id="vue-app">

            <div class="text-white" align="center" >
                <br>

                <h1>
                    Developer Access
                </h1>

                <div>

                    <h3 style="color:Hotpink"> Important Notes for User </h3>

                    <h5> This webapp may undergo maintanance on Sundays and may be unusable for a period </h5>
                    <h5> This webapp may be closed if excessively high volume occurs suddenly (eg 100 mil in 5 min)  and the CPU is maxed out; <br>
                        this will allow the data stream to catch up or be reset</h5>
                    <h5> Apologies for any inconvenince </h5>

                </div>

                    User Name
                    <br>
                    <input type="text" v-model="user">
                    <br>
                    Passcode
                    <br>
                    <input type="text" v-model="passcode">

                    <br>

                    2-Factor_Auth
                    <br>
                    <input type="text" v-model="tfa">

                    <br>

                    <br>
                    <button @click="login()" type="button" class="btn btn-secondary" data-bs-toggle="button">Login</button>
                    <br>

                </div>

            </div>



        </div> <!-- end vue app-->

{% endblock %}


{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">


var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}


startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {

        if (mobile) {
            this.mobile = true
        }
        if (localStorage['user']) {
            this.user = localStorage['user']
        }
        if (localStorage['passcode']) {
            this.passcode = localStorage['passcode']
        }

    },
    data: {
        user : '',
        passcode : '',
        tfa : ''
    },
    methods: {
        goTo: function(link){


            var str = window.location.href.split('login')[0]

            let url = str + link

            console.log('goTO', url);
            window.location = url

        },
        login: function () {
            console.log('login')

            $.ajax({
                data : {
                    user: this.user,
                    passcode: this.passcode,
                    tfa: this.tfa
                },
                type : 'POST',
                url : '/loginAction'

            })
            .done(function(data) {
                console.log(data)
                vue.goTo('')

            })
            .fail(function(){
                  alert('error has occurred with login');
            });
        },
    },
    watch: {
        user: function () {
            localStorage.setItem('user', this.user)
        },
        passcode: function () {
            localStorage.setItem('passcode', this.passcode)
        },
    }

})// end NEW VUE

}


</script>



{% endblock %}



