<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{headLogo}}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<body style="background:black">
    <main role="main" class="container-md">

        <div id="vue-app" :class="getMargin()" >

            <div class="text-white" align="center" >
                <br>

                <h1>
                    <span v-if="stream['lastPrice']">[[  stream['lastPrice']  ]] </span>
                    <span v-else> Loading ... </span> <br>
                </h1>

                <div v-if="stream['alerts']">
                    <div v-if="!showAlerts" @click="showAlerts = !showAlerts">
                        <span class="text-danger"> [[getAlert('note', 0)]] </span>
                        <br>
                        <span class="text-danger"> [[getAlert('info', 0)]] </span>
                    </div>
                    <div v-if="showAlerts" @click="showAlerts = !showAlerts">
                        <span  v-for="(item, key) in stream['alerts']" class="text-danger">
                            <span class="text-danger"> [[getAlert('note', key)]] </span>
                            <br>
                            <span class="text-danger"> [[getAlert('info', key)]] </span>
                            <br>
                        </span>

                    </div>
                </div>

                <audio id="xyz" src="https://rekt-journal.s3.ap-northeast-1.amazonaws.com/alert.mp3" style="display:none" controls preload="auto"></audio>


                <br>
                <button style="display:none" @click="showChart += 1" type="button" class="btn btn-danger" data-bs-toggle="button" autocomplete="off">Chart</button>
                <button @click="toggleCoin()" type="button" class="btn btn-danger" data-bs-toggle="button" autocomplete="off">[[coin]]</button>
                <button @click="showTable='Time'" type="button" class="btn btn-info" data-bs-toggle="button" autocomplete="off">Time</button>
                <button @click="showTable='Volume'" type="button" class="btn btn-warning" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Volume</button>
                <button style="display:none" @click="showTable='Delta'" type="button" class="btn btn-success" data-bs-toggle="button" autocomplete="off">Delta</button>
                <button @click="showTable='Notes'" type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">&#x2699;</button>


                <br>
                <br>

            </div>
            <div v-if="showChart < 2 && showTable !='Notes'" class="overflow-auto" style="width: 100%;color:#9E9E9E">
                <div class="row">
                    <div class="col">
                        <div class="ct-chart ct-minor-sixth" id="chart1"></div>
                        <h4 class="ml-2">
                            <span v-if="!mobile"> Price </span>
                            <span @click="setLookBack(+10)" class="ml-2 mr-2" >&#x2190</span>
                            <span >[[lookback]]%</span>
                            <span @click="setLookBack(-10)" class="ml-2">&#x2192</span>
                        </h4>
                    </div>
                    <div class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart2"></div>
                        <h4 class="ml-2"> CVD </h4>
                    </div>
                    <div v-if="!mobile" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart3"></div>
                        <h4 class="ml-2"> OI </h4>
                    </div>
                    <div v-if="!mobile && showChart > 0 && showTable != 'Volume'" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart4"></div>
                        <h4 class="ml-2"> Vol </h4>
                    </div>
                </div>
                <div v-if="showChart == 1 && mobile" class="row">
                    <div v-if="showTable != 'Volume'" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart4"></div>
                        <h4 class="ml-2"> Vol </h4>
                    </div>
                    <div v-else class="col">

                    </div>
                    <div v-if="" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart3"></div>
                        <h4 class="ml-2"> OI </h4>
                    </div>
                </div>
            </div>

            <div align="center" :style="getFont()">

                <div v-if="showTable == 'Notes'" class="text-white p-3">

                    <h3> Time Adjust </h3>

                    Time adjusted from UTC
                    <br>
                    <input type="number" v-model="UTCadjust" style="width:10%" align='center'>

                    <br>
                    <br>

                    <h3> Alert Sound </h3>

                    <button @click="alertOn = !alertOn" type="button" class="btn btn-secondary" data-bs-toggle="button">[[alertOn]]</button>

                    <br>
                    <br>

                    <h3> App Notes </h3>
                    - Data presented is from current day and previous day <br>
                    - Taken from Bybit API (BTCUSD.perp) <br>

                    - Time mode is set to minimum 5 mins and can be 5/15/30/60 mins <br>
                    - PVA candles will be highlighted<br>
                    - PVA candles that show possible divergence are highlighted in grey<br>
                    - Possible occurance of CVD divergence will also be highlighted in the CVD column<br>
                    <br>
                    - Volume mode can be set to 1 (default), 2 and 5 mil blocks <br>
                    - Volume blocks are exactly divisions of 1mil <br>
                    (this is different from exocharts which doesn't split and carries over trades so a 1mil block is actually more than 1mil) <br>
                    Therefore, volume block data will differ from exocharts (developer's personal choice) <br>
                    - Delta blocks are set to only record differences of 1mil delta (data does differ slightly from exo charts from time to time)<br>
                    - In Delta and Volume mode you may view all trades greater than 1000 appearing in the current block <br>
                    <br>
                    <br>
                    <h3> Alerts </h3>

                    Possible alerts will include: <br>

                    CVD Divergence / Large Trades / High volume candle with flat OI / Sudden delta switch ups / Sudden dramatic changes in OI

                </div>


                <div v-if="showTable == 'Time'" align="center">

                    <div class="border border-info rounded pt-2 pb-1 text-info" >
                        <h3> <span> Time Blocks ([[timeBlockSize]]) </span>
                                <span @click="setTime(+1)" class="ml-2" >&#8593</span>
                                <span @click="setTime(-1)" class="ml-2">&#8595</span>
                        </h3>

                        <div v-if="showStream">
                            <span v-for="(info, key) in stream " :key="key"> [[key]]: [[info]] <br></span>
                        </div>
                    </div>

                </div>

                <div v-if="showTable == 'Volume'">

                    <div class="border border-warning text-warning rounded pt-2 pb-1"  >
                        <h3> <span @click="showBS = !showBS"> Volume Blocks ([[volumeBlockSize]])</span>
                            <span @click="setVol(1)" class="ml-2" >&#8593</span>
                            <span @click="setVol(-1)" class="ml-2">&#8595</span>
                        </h3>
                    </div>

                    <div v-if="showBS" class="row align-items-start m-2 ">
                        <div class="col-6 rounded" style="background:darkgreen;color:white">
                            <span> Buys: </span>  <span v-for="(item, key) in reverseTrades" :key="key" ><span v-if="item.side == 'Buy'"> [[item.size]] &nbsp &nbsp  </span></span>
                        </div>
                        <div class="col-6 rounded" style="background:firebrick;color:white">
                            <span> Sells: </span>  <span v-for="(item, key) in reverseTrades" :key="key" ><span v-if="item.side == 'Sell'"> [[item.size]] &nbsp &nbsp  </span></span>
                        </div>
                    </div>

                </div>

                <div v-if="showTable == 'Delta'" align="center">

                    <div class="border border-success rounded pt-2 pb-1 text-success"  >
                        <h3> <span @click="showBS = !showBS"> Delta Blocks </span></h3>
                    </div>

                    <div v-if="showBS" class="row align-items-start m-2 rounded">
                        <div class="col-6 rounded" style="background:darkgreen;color:white">
                            <span> Buys: </span>  <span v-for="(item, key) in reverseDelta" :key="key" ><span v-if="item.side == 'Buy'"> [[item.size]] &nbsp &nbsp </span></span>
                        </div>
                        <div class="col-6 rounded" style="background:firebrick;color:white">
                            <span> Sells: </span>  <span v-for="(item, key) in reverseDelta" :key="key" ><span v-if="item.side == 'Sell'"> [[item.size]] &nbsp &nbsp  </span></span>
                        </div>
                    </div>

                </div>

                <div v-if="showTable != 'Notes'" class="table-responsive">
                    <table class="table table-dark table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width:10%">Time</th>
                            <th scope="col">Sec</th>
                            <th scope="col">Vol</th>
                            <th scope="col" @click="showDelta = true">Delta <span v-if="showDelta == false && !mobile" @click="showDelta = true"> &#x2192 </span></th>
                            <th v-if="showDelta" scope="col" @click="showDelta = false"> &#x2190</th>
                            <th v-if="showDelta" scope="col">Sells</th>
                            <th v-if="showDelta" scope="col">Buys</th>
                            <th scope="col">CVD</th>
                            <th scope="col">OI</th>
                            <th scope="col">Candle</th>
                            <th scope="col" style="width:2%">High</th>
                            <th scope="col" style="width:2%">Low</th>
                            <th scope="col" style="width:2%">Close</th>
                        </tr>
                        </thead>
                        <tbody v-if="showTable == 'Time'" id='timeTable'>
                            <template v-for="(item, key) in getReverseTimeBlocks" :key="key" >
                            <tr v-if="key < timeBlockList">
                                <th class="text-info" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td>[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeStyle(item.pva_status, key, item.price_delta, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta" :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'time')">[[item.delta_cumulative]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]  <span v-if="showTable == 'Time' && timeBlockSize == 5">([[roundData(item.oi_range)]])</span></td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile"> / ([[getRange(item.high, item.low)]]) </span></td>
                                <td :style="getLocal('high', key)">[[item.high]]</td>
                                <td :style="getLocal('low', key)">[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'time')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key && timeBlockSize == 5">
                                        <tr>
                                            <th class="text-info" scope="row"> </th>
                                            <td> </td>
                                            <td> PVA% : [[Math.round(item.pva_status.percentage * 100)]]</td>
                                            <td> </td>
                                            <td> <span v-for="(tick, index) in item.tickList"> [[ tick.tickPrice ]] &nbsp &nbsp [[ roundData(tick.Sell) ]] &nbsp |  &nbsp [[ roundData(tick.Buy) ]] &nbsp  <br></span </td>
                                        </tr>

                                    </template>

                            </template>
                        </tbody>
                        <tbody v-if="showTable == 'Volume'">
                            <template v-for="(item, key) in getReverseVolumeBlocks" :key="key" >
                            <tr>
                                <th class="text-warning text-xsmall" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td :style="timeStyle(item.time_delta)">[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeStyle(item.pva_status, key, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'vol')">[[item.delta_cumulative]]</td>
                                <td style="display:none">[[item.oi_cumulative]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]</td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile">/ ([[getRange(item.high, item.low)]]) </span></td>
                                <td>[[item.high]]</td>
                                <td>[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'volume')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key">
                                        <tr >
                                            <span> [[ item ]]  </span>
                                        </tr>
                                    </template>
                            </template>
                        </tbody>
                        <tbody v-if="showTable == 'Delta'">
                            <template v-for="(item, key) in getReverseDeltaBlocks" :key="key" >
                            <tr>
                                <th class="text-success" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td :style="timeStyle(item.time_delta)">[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeBlockStyle(item, key, item.price_delta, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'delta')">[[item.delta_cumulative]]</td>
                                <td style="display:none">[[item.oi_cumulative]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]</td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile"> / ([[Math.abs(item.high - item.low)]]) </span></td>
                                <td >[[item.high]]</td>
                                <td >[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'delta')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key">
                                        <tr>
                                            <span>
                                                [[item]]
                                            </span>
                                        </tr>

                                    </template>

                            </template>
                        </tbody>

                    </table>
                </div>
            </div>



        </div> <!-- end vue app-->

    </main>
</body>

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">


var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}


startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {
        this.ofTimer()
        this.getOFData()

        if (mobile) {
            this.mobile = true
        }
        if (localStorage['UTC']) {
            this.UTCadjust = localStorage['UTC']
        }
        if (localStorage['lookback']) {
            this.lookback = localStorage['lookback']
        }
        this.lookback = 60
    },
    data: {
        coin : 'BTC',
        coins : ['BTC', 'ETH', 'GALA'],
        user : '',
        login : false,
        history : {},
        lookback : 40,
        showChart : 1,
        showStream : false,
        showBS : false,
        showTable : 'Time',
        UTCadjust : 0,
        showDelta : true,
        showCandle : null,
        showVolCandle : null,
        mobile : false,
        volumeBlocks : [],
        volumeFlow : [],
        timeBlocks : [],
        historyTime : [],
        timeFlow : [],
        deltaBlocks : [],
        deltaFlow : [],
        stream : {},
        lastAlertTime: null,
        alertOn : true,
        showAlerts : false,
        volumeBlockList : 20,
        volumeBlockSize : 2,
        timeBlockList : 100,
        timeMarker : 0,
        timeBlockSize : 5,
        timeSizes : [5,15,30,60],
        of_timer : '',
        ofAlert : 0,
        localHigh : 0,
        localLow : 0,
        optionsP : {
            showPoint: false,
            showLine: true,
            showArea: false,
            lineSmooth: false,
            showLabel: false,
            axisX: {
                showGrid: false,
                showLabel: false,
                scaleMinSpace: 20,
                offset: 0
              },
            axisY: {
                offset: 0,
                scaleMinSpace: 40,
                showGrid: true,
                showLabel: false
              }
        },
        optionsV : {
            seriesBarDistance: 10,
            showLabel: false,
            axisX: {
                showGrid: false,
                showLabel: false,
                scaleMinSpace: 20,
                offset: 0
              },
            axisY: {
                offset: 0,
                scaleMinSpace: 40,
                showGrid: true,
                showLabel: false
              }
          }
    },
    methods: {
        getRange: function (high, low) {
            let abs = Math.abs(high - low)

            let c = {
                BTC : 1,
                ETH : 100,
                GALA : 10000
            }

            return Math.round(abs*c[this.coin])/c[this.coin]


        },
        toggleCoin: function () {
            let x = this.coins.indexOf(this.coin)

            let n = x + 1
            if (n > this.coins.length) {
                n = 0
            }

            this.coin = this.coins[n]
        },
        audioAlert: function () {
            if (this.alertOn == false) {
                return false
            }

            console.log(document.getElementById('xyz'))

            let lastAlert = this.stream['alerts'][0]

            let audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/software.wav"

            if (lastAlert && lastAlert[1].includes('CVD')) {
                audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/atm.wav"
            } else if (lastAlert && lastAlert[1].includes('Trade')) {
                audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/game.wav"
            }

            document.getElementById('xyz').src = audio
            document.getElementById('xyz').play()
        },
        getAlert: function (mode, key) {


            let requestAlert = null
            if (this.stream['alerts'] && this.stream['alerts'][key]) {
                requestAlert = this.stream['alerts'][key]
            }

            if (requestAlert && mode == 'note' ) {
                if (requestAlert[0]) {
                    let alert =  this.getTime(requestAlert[0]) + ' ' + requestAlert[1]
                    return alert
                }
            } else if (requestAlert && mode == 'info' ) {
                if (requestAlert[2]) {
                    let notice = requestAlert[1]
                    let alert = requestAlert[2]

                    if (notice.includes('CVD')) {
                        if (alert.includes('Bull')) {
                            return 'Potential Bullish Divergence Occuring'
                        }
                        if (alert.includes('Bear')) {
                            return 'Potential Bearish Divergence Occuring'
                        }
                    } else if (notice.includes('Trade')) {
                        return alert
                    } else {
                        return alert
                    }
                }
            } else {
                return 'No Alert'
            }

        },
        showCandleToggle: function (key) {
            console.log(key)
            if (this.showCandle == key) {
                this.showCandle = null
            } else {
                this.showCandle = key
            }
        },
        setLookBack: function (n) {
            this.lookback += n
        },
        updateCharts: function () {
            let blockOBJ = {
                Time : this.timeBlocks,
                Volume : this.volumeBlocks,
                Delta : this.deltaBlocks
            }

            if (!blockOBJ[this.showTable]) {
                console.log('no tables')
                return false
            }

            let blocks = blockOBJ[this.showTable]

            let labels = []

            let seriesP = [[],[],[]]
            let seriesD = [[],[],[]]
            let seriesO = [[],[],[]]
            let seriesV = [[],[],[],[]]

            let total = blocks.length

            let cutoff = total - (total * this.lookback/100)


            for (let tb in blocks) {
                if (tb > cutoff) {
                    labels.push(tb)
                    seriesP[0].push(blocks[tb]['close'])
                    seriesD[1].push(blocks[tb]['delta_cumulative'])
                    if (blocks[tb]['oi_cumulative'] != 0) {
                       seriesO[2].push(blocks[tb]['oi_cumulative'])
                    }
                    seriesV[3].push(blocks[tb]['total'])
                }
            }

            dataP = { labels : labels, series : seriesP}
            dataD = { labels : labels, series : seriesD}
            dataO = { labels : labels, series : seriesO}
            dataV = { labels : labels, series : seriesV}

            new Chartist.Line('#chart1', dataP, this.optionsP);
            new Chartist.Line('#chart2', dataD, this.optionsP);
            new Chartist.Line('#chart3', dataO, this.optionsP);



              var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                  seriesBarDistance: 5,
                  axisX: {
                    labelInterpolationFnc: function (value) {
                      return value[0];
                    }
                  }
                }]
              ];

            new Chartist.Bar('#chart4', dataV, this.optionsV, responsiveOptions);

        },
        setTime: function (n) {
            this.timeMarker += n

            if (this.timeMarker > 3 || this.timeMarker < 0) {
                this.timeMarker = 0
            }

            this.timeBlockSize = this.timeSizes[this.timeMarker]


        },
        setVol: function (n) {
            this.volumeBlockSize += n
        },
        getTickPrices: function (ticks, mode) {

            let returnValues = {
                price : [],
                amount : []
            }

            for (let p in ticks) {
                returnValues['price'].unshift(p)
                returnValues['amount'].unshift(ticks[p])
            }

            return returnValues[mode]

        },
        getLocal: function (mode, key) {
            let sets = {
                    high : this.localHigh,
                    low : this.localLow,
                }
            let colors = {
                    high : '#004D40',
                    low : 'firebrick',
                }

            if (this.timeBlockSize == 5) {
                if (key == sets[mode] + 1) {
                return { background: colors[mode]}
                }
            }
        },
        getCVDStyle: function (CVDdivergence, key, CVD, mode) {
            if (key == 1 && CVDdivergence && mode == 'time') {

                if (CVDdivergence.lowInfo && CVDdivergence.lowInfo.index) {
                    this.localLow = CVDdivergence.lowInfo.index
                    this.localHigh = CVDdivergence.highInfo.index
                    // console.log(this.localHigh , CVDdivergence.highInfo, this.localLow, CVDdivergence.lowInfo, CVD)
                }
            }

            if (this.timeBlockSize == 5 && mode == 'time' && key != 0) {
                if (CVDdivergence && CVDdivergence.highInfo && CVDdivergence.highInfo.div) {
                    return {color: 'pink'}
                } else if (CVDdivergence && CVDdivergence.highInfo && CVDdivergence.lowInfo.div) {
                    return {color: 'lightblue'}
                }
            }

            let candles = {
                time : this.getReverseTimeBlocks[key + 1 ],
                vol : this.getReverseTimeBlocks[key + 1 ],
                delta : this.getReverseTimeBlocks[key + 1 ]
            }

            previousCandle = candles[mode]

            if (previousCandle && CVD < previousCandle['delta_cumulative']) {
                return {color: '#E53935'}
            } else if (previousCandle && CVD > previousCandle['delta_cumulative']) {
                return {color: 'lightgreen'}
            }

        },
        getCloseStyle: function (close, key, mode) {

            let candles = {
                time : this.getReverseTimeBlocks[key + 1 ],
                volume : this.getReverseTimeBlocks[key + 1 ],
                delta : this.getReverseTimeBlocks[key + 1 ]
            }

            previousCandle = candles[mode]

            if (previousCandle && close < previousCandle['close']) {
                return {color: '#E53935'}
            } else if (previousCandle && close > previousCandle['close']) {
                return {color: 'lightgreen'}
            }

        },
        getMargin: function () {
            if (this.mobile) {
                return "content-section"
            } else {
                return "content-section ml-5 mr-5"
            }
        },
        getFont: function () {
            if (this.mobile) {
                return "font-size:12px"
            }
        },
        getTime: function (t) {
            let time = t.split(' ')
            let adjust = this.UTCadjust
            if (!parseInt(adjust)) {
                adjust = 0
            }
            let hours = parseInt(time[1].split(':')[0]) + parseInt(adjust)
            if (hours > 23) {
                hours = hours - 24
            }
            let newTime = time[1].split(':')
            let x = time[0] + ' '

            if (this.mobile) {
                return hours + ':' + newTime[1]
            } else {
                return hours + ':' + newTime[1] + ':' + newTime[2].split('.')[0]
            }

        },
        roundData: function (data) {
            //deal with K
            if (data >= 1000000 || data <= -1000000) {
                let x = data/100000
                let y = Math.round(x)
                let r = y.toString()/10
                return r + 'm'
            } else {
                let x = data/1000
                let y = Math.round(x)
                let r = y.toString()
                return r + 'K'
                if (r == '1000') {
                    return '1m'
                } else {
                    return r + 'K'
                }

            }

        },
        getPercent: function (data, total) {
            //deal with K
            let x = (data/total)*100
            let y = Math.round(x)
            let r = y.toString()
            return r
        },
        calculateTime: function (ms) {
            return Math.round((ms/1000))
        },
        timeStyle: function (ms) {
            if (Math.round((ms/1000)) <= 60) {
                return {background: '#2C3E50' }
            }

        },
        getCandleStyle: function(open, close) {
            let style = {color : '#E53935'}
            if (open < close) {
                style = {color : 'lightgreen'}
            }
            return style
        },
        getOIStyle: function(oi) {
            let style = {background : '#303F9F', color : 'white'}
            if (oi == 0) {
                style = {}
            } else if (oi < -1000000) {
                style = {background : '#BA68C8', color : 'white'}
            }else if (oi < 0) {
                style = {background : 'purple', color : 'white'}
            }else if (oi > 1000000) {
                style = {background : 'DodgerBlue', color : 'white'}
            }
            return style
        },
        getDeltaStyle: function(delta, mode) {
            let style = {}
            if (mode == 0) {
                if (delta < 0 ) {
                    // Orange
                    style = {background : '#BF360C'}
                } else if ( delta > 0) {
                    style = {background : 'DarkCyan'}

                }
            } else if (mode < 0) {
                if (delta > 500000) {
                   style = {background : '#795548'}
                } else if (delta > 100000) {
                   style = {background : '#4E342E'}
                }
            } else if (mode > 0) {
                if (delta > 500000) {
                   style = {background : '#455A64 '}
                } else if (delta > 100000) {
                   style = {background : '#263238'}
                }
            }
            return style
        },
        getVolumeStyle: function(pva_status, key, price) {

            let style = {}


            if (pva_status['pva150']) {
                if (price < 0) {
                    //pink
                    style = {background : '#880E4F'}
                } else if (price > 0) {
                    //dark green
                    style = {background : '#004D40'}
                }
            } else if (pva_status['pva200']) {
                if (price < 0) {
                    //red
                    style = {background : '#D81B60'}
                } else if (price > 0) {
                    //green
                    style = {background : '#66CC00'}
                } else if (price == 0) {
                    //browns
                    style = {background : '#922B21'}
                }
            }

            if (pva_status['pva200'] && pva_status['PVAbearDIV']) {
                style = {background : '#BDBDBD' , color : '#D32F2F' }
            } else if (pva_status['pva200'] && pva_status['PVAbullDIV']) {
                style = {background : '#BDBDBD' , color : 'green' }
            }

            return style
        },
        getVolumeBlockStyle: function(item, key, price) {

            let style = {}

            if (item.volcandle_two && item.volcandle_two['Bull']) {
                style = {background: 'grey'}
            }
            if (item.volcandle_two && item.volcandle_two['Bear']) {
                style = {background: 'grey'}
            }

            return style
        },
        ofTimer: function () {
            this.of_timer = setInterval(this.getOFData, 3000)
            console.log('timer', this.of_timer)
        },
        clearOF: function () {
            clearInterval(this.of_timer)
        },
        clearLimitPrice: function () {
            this.limitData.price = 0
        },
        getOFData: function (mode) {
            console.log('getOFData')

            $.ajax({
                data : {
                    volumeBlockSize: this.volumeBlockSize,
                    timeBlockSize: this.timeBlockSize,
                    coin: this.coin
                },
                type : 'POST',
                url : '/getOF'

            })
            .done(function(data) {
                console.log('OF data received')
                vue.volumeFlow = JSON.parse(data.volumeFlow)

                vue.volumeBlocks = JSON.parse(data.volumeBlocks)

                vue.stream = JSON.parse(data.stream)

                vue.timeBlocks = JSON.parse(data.timeBlocks)

                vue.timeFlow = JSON.parse(data.timeFlow)

                //vue.deltaBlocks = JSON.parse(data.deltaBlocks)

                //vue.deltaFlow = JSON.parse(data.deltaFlow)

                vue.updateCharts()

                vue.user = data.user
                console.log('USER', data.user)

                vue.login = data.login
                console.log('LOGIN', data.login)


                //let e = document.getElementById('timeTable')
                //e.scrollLeft = e.scrollWidth

            })
            .fail(function(){
                  console.log('error has occurred gData')
                  location.reload()
            });
        }
    },
    computed: {
        reverseTrades() {
            let newList = []
            let newList2 = []
            let flow = this.volumeFlow

            for (let x in flow) {
                let s = flow[x]['size']
                if (s > 1000) {
                    let ns = Math.round(s/100)/10
                    if (s >= 100000) {
                       flow[x]['size'] = '!!' + ns + 'k !!'
                       newList2.push(flow[x])
                    } else if ( s >= 10000) {
                        flow[x]['size'] = ns + 'k'
                        newList2.push(flow[x])
                    } else {
                        newList.push(flow[x])
                    }
                }
            }
            let finalList = newList.concat(newList2)
            return finalList
        },
        reverseDelta() {
            let newList = []
            let newList2 = []
            let flow = this.deltaFlow

            for (let x in flow) {
                let s = flow[x]['size']
                if (s > 1000) {
                    let ns = Math.round(s/100)/10
                    if (s >= 100000) {
                       flow[x]['size'] = '!!' + ns + 'k !!'
                       newList2.push(flow[x])
                    } else if ( s >= 10000) {
                        flow[x]['size'] = ns + 'k'
                        newList2.push(flow[x])
                    } else {
                        newList.push(flow[x])
                    }
                }
            }
            let finalList = newList.concat(newList2)
            return finalList
        },
        getReverseVolumeBlocks() {
            return this.volumeBlocks.slice().reverse()
        },
        getReverseDeltaBlocks() {
            return this.deltaBlocks.slice().reverse()
        },
        getReverseTimeBlocks() {
            let x = 12*12
            return this.timeBlocks.slice().reverse()
        }
    },
    watch: {
        stream: function () {
            console.log(this.stream)
            if (this.stream['alerts'] && this.stream['alerts'][0]) {
                if (this.lastAlertTime && this.stream['alerts'][0][0] != this.lastAlertTime) {
                    this.audioAlert()
                    this.lastAlertTime = this.stream['alerts'][0][0]
                }
            }
        },
        UTCadjust: function () {
            console.log('UTC', this.UTCadjust)
            localStorage.setItem('UTC', this.UTCadjust)
        },
        timeBlockSize: function () {
            this.timeBlocks = []
        },
        showChart: function () {
            if (this.showChart > 2) {
                this.showChart = 0
            }
        },
        volumeBlockSize: function () {
            if (this.volumeBlockSize == 3 || this.volumeBlockSize > 5) {
                this.volumeBlockSize = 5
            } else if (this.volumeBlockSize == 4) {
                this.volumeBlockSize = 2
            } else if (this.volumeBlockSize <= 0) {
                this.volumeBlockSize = 1
            }
        },
        lookback: function () {
            if (this.lookback > 100) {
                this.lookback = 100
            } else if (this.lookback < 10) {
                this.lookback = 10
            }
            console.log('lookback')
            localStorage.setItem('lookback', this.lookback)
        }

    }

})// end NEW VUE

}


</script>



{% endblock %}



