<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{headLogo}}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<body style="background:black">
    <main role="main" class="container-md">

        <div id="vue-app" :class="getMargin()" >

            <div class="text-white" align="center">
                <br>

                <h1>
                    <span v-if="stream['lastPrice']">[[  stream['lastPrice']  ]] </span>
                    <span v-else> Loading ... </span> <br>
                </h1>

                <div v-if="stream['alerts']">
                    <div v-if="!showAlerts" @click="showAlerts = !showAlerts">
                        <span class="text-danger"> [[getAlert('note', 0)]] </span>
                        <br>
                        <span class="text-danger"> [[getAlert('info', 0)]] </span>
                    </div>
                    <div v-if="showAlerts" @click="showAlerts = !showAlerts">
                        <span  v-for="(item, key) in stream['alerts']" class="text-danger">
                            <span class="text-danger"> [[getAlert('note', key)]] </span>
                            <br>
                            <span class="text-danger"> [[getAlert('info', key)]] </span>
                            <br>
                        </span>

                    </div>
                </div>

                <audio id="xyz" src="https://rekt-journal.s3.ap-northeast-1.amazonaws.com/alert.mp3" style="display:none" controls preload="auto"></audio>


                <br>
                <button style="display:none" @click="showChart += 1" type="button" class="btn btn-danger" data-bs-toggle="button" autocomplete="off">Chart</button>
                <button @click="toggleCoin()" type="button" class="btn btn-danger" data-bs-toggle="button" autocomplete="off">[[coin]]</button>
                <button @click="showTable='Time'" type="button" class="btn btn-info" data-bs-toggle="button" autocomplete="off">Time</button>
                <button @click="showTable='Volume'" type="button" class="btn btn-warning" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Volume</button>
                <button v-if="user" @click="goTo('journal')" type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">Journal</button>
                <button v-if="user" @click="goTo('trade')" type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">Trade</button>
                <button @click="showTable='Notes'" type="button" class="btn btn-secondary" data-bs-toggle="button" autocomplete="off">&#x2699;</button>


                <br>
                <br>

            </div>
            <div v-if="showChart < 2 && showTable !='Notes'" class="overflow-auto" style="width: 100%;color:#9E9E9E">
                <div class="row">
                    <div class="col">
                        <div class="ct-chart ct-minor-sixth" id="chart1"></div>
                        <h4 class="ml-2">
                            <span v-if="!mobile"> Price </span>
                            <span @click="setLookBack(+10)" class="ml-2 mr-2" >&#x2190</span>
                            <span >[[lookback]]%</span>
                            <span @click="setLookBack(-10)" class="ml-2">&#x2192</span>
                        </h4>
                    </div>
                    <div class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart2"></div>
                        <h4 class="ml-2"> CVD </h4>
                    </div>
                    <div v-if="!mobile" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart3"></div>
                        <h4 class="ml-2"> OI </h4>
                    </div>
                    <div v-if="!mobile && showChart > 0 && showTable != 'Volume'" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart4"></div>
                        <h4 class="ml-2"> Vol </h4>
                    </div>
                </div>
                <div v-if="showChart == 1 && mobile" class="row">
                    <div v-if="showTable != 'Volume'" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart4"></div>
                        <h4 class="ml-2"> Vol </h4>
                    </div>
                    <div v-else class="col">

                    </div>
                    <div v-if="" class="col">
                        <div class="ct-chart ct-minor-sixth"  id="chart3"></div>
                        <h4 class="ml-2"> OI </h4>
                    </div>
                </div>
            </div>

            <div align="center" :style="getFont()">

                <div v-if="showTable == 'Notes'" class="text-white p-3">

                    <h3> Time Adjust </h3>

                    Time adjusted from UTC
                    <br>
                    <input type="number" v-model="UTCadjust" style="width:10%" align='center'>

                    <br>
                    <br>

                    <h3> Alert Sound </h3>

                    <button @click="alertOn = !alertOn" type="button" class="btn btn-secondary" data-bs-toggle="button">[[alertOn]]</button>

                    <br>
                    <br>

                    <h3> App Notes </h3>

                    - Data presented is from current day and previous day <br>
                    - Taken from Bybit API (BTCUSD.perp) <br>
                    - Data is refreshed every 3 secs <br>

                    - Time mode is set to minimum 5 mins and can be 5/15/30/60 mins <br>
                    - PVA candles will be highlighted<br>
                    - Possible occurance of CVD divergence will also be highlighted in the CVD column<br>
                    <br>
                    - Volume mode has different blocks depending on the coin symbol <br>
                    - Volume blocks are exact divisions eg a 2mil block is exactly 2mil <br>
                    (this is different from exocharts which doesn't split and carries over trades so a 2mil block is actually sometimes more than 2mil) <br>
                    Therefore, volume block data will differ from exocharts (developer's personal choice) <br>
                    <br>

                    <h3> Notice </h3>
                    - This webapp is free to use and currently uses the cheapest server set up <br>
                    - This means if the web app is inactive for 15 min then it may take 1min to reactivate <br>
                    - Also, if excessively high volume occurs suddenly (eg 100 mil in 5 min), then CPU usage will be maxed out and data stream may need to catch for about 15-20min <br>


                    <br>
                    <h3> Alerts </h3>

                    Alert system is experimental and may include: <br>

                    CVD Divergence / High volume candle with flat OI / Sudden dramatic changes in OI

                    <h3> Logged In </h3>

                    [[login]]

                    <br>
                    <br>

                </div>


                <div v-if="showVertical">
                    <div class="row p-0">
                        <div class="col">
                            <div class="border border-info rounded pt-2 pb-1 text-info" >
                                <h3> <span> Time Blocks ([[timeBlockSize]]) </span>
                                        <span @click="setTime(+1)" class="ml-2" >&#8593</span>
                                        <span @click="setTime(-1)" class="ml-2">&#8595</span>
                                </h3>
                            </div>
                            <table class="table table-dark table-sm vert">
                                <thead class="vert">
                                    <tr class="vert">
                                        <th class="vert p-1" scope="col">Time</th>
                                        <th class="vert p-1" scope="col">Vol</th>
                                        <th class="vert p-1" scope="col" @click="showDelta = true">Delta <span v-if="showDelta == false && !mobile" @click="showDelta = true"> &#x2192 </span></th>
                                        <th class="vert p-1" v-if="showDelta" scope="col" @click="showDelta = false"> &#x2190</th>
                                        <th class="vert p-1" v-if="showDelta" scope="col">Sells</th>
                                        <th class="vert p-1" v-if="showDelta" scope="col">Buys</th>
                                        <th class="vert p-1" scope="col">OI</th>
                                        <th class="vert p-1" scope="col">Candle</th>
                                        <th class="vert p-1" scope="col" style="width:2%">High</th>
                                        <th class="vert p-1" scope="col" style="width:2%">Close</th>
                                        <th class="vert p-1" scope="col" style="width:2%">Low</th>
                                    </tr>
                                    </thead>
                                <tbody class="vert" id='timeTableVert' :style="getVerticalTable()">
                                    <template v-for="(item, key) in getTimeBlocks" :key="key" >
                                        <tr class="vert" v-if="key < timeBlockList">
                                            <th class="vert text-info" scope="row"><span @click="getManualLookback(key)">[[getTime(item.timestamp, 'v')]] &nbsp &nbsp &nbsp</span> </th>
                                            <td class="vert" :style="getVolumeStyle(item.pva_status, key, item.price_delta)">[[roundData(item.total)]]</td>
                                            <td class="vert" :style="getDeltaStyle(item.delta, 0, item.total)">[[roundData(item.delta, item.total)]]</td>
                                            <td class="vert" v-if="showDelta"  :style="getDeltaStyle(item.delta, 0, item.total)">[[getPercent(item.delta, item.total)]]%</td>
                                            <td class="vert" v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                            <td class="vert" v-if="showDelta" :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                            <td class="vert" :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]  <br> </td>
                                            <td class="vert" :style="getCandleStyle(item.open, item.close)" >[[item.price_delta]]</td>
                                            <td class="vert" :style="getLocal('high', key, true)">[[item.high]]</td>
                                            <td class="vert" :style="getCloseStyle(item.close, key, 'time')">[[item.close]]</td>
                                            <td class="vert" :style="getLocal('low', key, true)">[[item.low]]</td>
                                        </tr>
                                    </template>


                                </tbody>
                            </table>
                        </div>

                        <div class="col">
                            <div class="border border-warning text-warning rounded pt-2 pb-1"  >
                                <h3> <span> Volume Blocks ([[volumeBlockSize]])</span>
                                    <span v-if="coinOBJ[coin] && coinOBJ[coin]['volsize'].length > 1">
                                        <span @click="setVol(1)" class="ml-2" >&#8593</span>
                                        <span @click="setVol(-1)" class="ml-2">&#8595</span>
                                    </span>
                                </h3>
                            </div>
                            <table class="table table-dark table-sm vert">
                                <thead class="vert">
                                    <tr class="vert" >
                                        <th class="vert p-1"  style="width:10%">Time</th>
                                        <th class="vert p-1" >Sec</th>
                                        <th class="vert p-1" >Vol</th>
                                        <th class="vert p-1"  @click="showDelta = true">Delta</th>
                                        <th class="vert p-1" >OI</th>
                                        <th class="vert p-1" >Candle</th>
                                        <th class="vert p-1"  style="width:2%">High</th>
                                        <th class="vert p-1"  style="width:2%">Close</th>
                                        <th class="vert p-1"  style="width:2%">Low</th>
                                    </tr>
                                </thead>
                                <tbody class="vert" id='volTableVert' :style="getVerticalTable()">
                                    <template v-for="(item, key) in getVolBlocks" :key="key" >
                                    <tr class="vert">
                                        <th class="vert text-warning text-xsmall" scope="row"><span>[[getTime(item.timestamp, 'v')]] &nbsp &nbsp &nbsp</span> </th>
                                        <td class="vert" :style="timeStyle(item.time_delta)">[[calculateTime(item.time_delta)]]</td>
                                        <td class="vert" :style="getVolumeDivStyle(item.price_delta, item.delta, item)">[[roundData(item.total)]]</td>
                                        <td class="vert" :style="getDeltaStyle(item.delta, 0, item.total)">[[getPercent(item.delta, item.total)]]%</td>
                                        <td class="vert" :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]</td>
                                        <td class="vert" :style="getCandleStyle(item.open, item.close)">[[item.price_delta]] </span></td>
                                        <td class="vert">[[item.high]]</td>
                                        <td :style="getCloseStyle(item.close, key, 'volume')">[[item.close]]</td>
                                        <td class="vert">[[item.low]]</td>
                                    </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div style="color:white" class="table-responsive">
                <table class="table table-dark table-sm table-fixed">

                    <thead>
                        <tr>
                            <td></td>
                            <template v-for="(item, key) in getTimeBlocks.slice(-tickLookback)" :key="key" >
                                    <td colspan="2" class="text-info"> [[getTime(item.timestamp, 'v')]]</td>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(item, key) in getTicksReversed" :key="key" >
                                    <tr>
                                        <th class="text-info" scope="row"> [[item]] </th>
                                        <template v-for="(tick, index) in getTickCandles[item]" :key="index">
                                            <td>
                                                <span v-if="tick.Sell" :style="getImbalance('sell', tick.SellPer)"> [[ roundData(tick.Sell) ]]</span>
                                            </td>
                                            <td>
                                                <span v-if="tick.Buy" :style="getImbalance('buy', tick.BuyPer)">[[ roundData(tick.Buy) ]]</span>
                                            </td>
                                    </template>
                                    </tr>
                        </template>
                    </tbody>
                </table>
                </div>


                <div v-if="showTable == 'Time'" align="center">

                    <div class="border border-info rounded pt-2 pb-1 text-info" >
                        <h3> <span> Time Blocks ([[timeBlockSize]]) </span>
                                <span @click="setTime(+1)" class="ml-2" >&#8593</span>
                                <span @click="setTime(-1)" class="ml-2">&#8595</span>
                        </h3>
                    </div>

                </div>

                <div v-else if="showTable == 'Volume'">

                    <div class="border border-warning text-warning rounded pt-2 pb-1"  >
                        <h3> <span> Volume Blocks ([[volumeBlockSize]])</span>
                            <span @click="setVol(1)" class="ml-2" >&#8593</span>
                            <span @click="setVol(-1)" class="ml-2">&#8595</span>
                        </h3>
                    </div>

                </div>

                <div v-if="showTable != 'Notes'" class="table-responsive">
                    <table class="table table-dark table-sm">
                        <thead>
                        <tr>
                            <th scope="col" style="width:10%">Time</th>
                            <th scope="col">Sec</th>
                            <th scope="col">Vol</th>
                            <th scope="col" @click="showDelta = true">Delta <span v-if="showDelta == false && !mobile" @click="showDelta = true"> &#x2192 </span></th>
                            <th v-if="showDelta" scope="col" @click="showDelta = false"> &#x2190</th>
                            <th v-if="showDelta" scope="col">Sells</th>
                            <th v-if="showDelta" scope="col">Buys</th>
                            <th scope="col">CVD</th>
                            <th scope="col">OI</th>
                            <th scope="col">Candle</th>
                            <th scope="col" style="width:2%">High</th>
                            <th scope="col" style="width:2%">Low</th>
                            <th scope="col" style="width:2%">Close</th>
                        </tr>
                        </thead>
                        <tbody v-if="showTable == 'Time'" id='timeTable'>
                            <template v-for="(item, key) in getReverseTimeBlocks" :key="key" >
                            <tr v-if="key < timeBlockList">
                                <th class="text-info" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td>[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeStyle(item.pva_status, key, item.price_delta, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0, item.total)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0, item.total)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta" :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'time')">[[roundData(item.delta_cumulative)]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]  <span v-if="showTable == 'Time' && timeBlockSize == 5">([[roundData(item.oi_range)]])</span></td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile"> / ([[getRange(item.high, item.low)]]) </span></td>
                                <td :style="getLocal('high', key)">[[item.high]]</td>
                                <td :style="getLocal('low', key)">[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'time')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key && timeBlockSize == 5">
                                        <tr>
                                            <th class="text-info" scope="row"> </th>
                                            <td> </td>
                                            <td> PVA% : [[Math.round(item.pva_status.percentage * 100)]]</td>
                                            <td> </td>
                                            <td> <span v-for="(tick, index) in item.tickList">
                                                <span :style="getCurrent(tick.tickPrice)"> [[ tick.tickPrice ]] </span>
                                                <br>
                                                </span>
                                            </td>

                                            <td>
                                                <span v-for="(tick, index) in item.tickList">
                                                    <span :style="getImbalance('sell', tick.SellPer)"> [[ roundData(tick.Sell) ]]</span>
                                                    <br>
                                                </span>
                                            </td>
                                            <td>
                                                <span v-for="(tick, index) in item.tickList">
                                                    <span :style="getImbalance('buy', tick.BuyPer)">[[ roundData(tick.Buy) ]]</span>
                                                    <br>
                                                </span>
                                            </td>

                                        </tr>

                                    </template>

                            </template>
                        </tbody>
                        <tbody v-if="showTable == 'Volume'">
                            <template v-for="(item, key) in getReverseVolumeBlocks" :key="key" >
                            <tr>
                                <th class="text-warning text-xsmall" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td :style="timeStyle(item.time_delta)">[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeStyle(item.pva_status, key, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0, item.total)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0, item.total)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'vol')">[[item.delta_cumulative]]</td>
                                <td style="display:none">[[item.oi_cumulative]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]</td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile">/ ([[getRange(item.high, item.low)]]) </span></td>
                                <td>[[item.high]]</td>
                                <td>[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'volume')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key">
                                        <tr >
                                            <td colspan="7">
                                                <span>
                                                    [[item]]
                                                </span>
                                            </td>
                                        </tr>
                                    </template>
                            </template>
                        </tbody>
                        <tbody v-if="showTable == 'Delta'">
                            <template v-for="(item, key) in getReverseDeltaBlocks" :key="key" >
                            <tr>
                                <th class="text-success" scope="row"><span @click="showCandleToggle(key)">[[getTime(item.timestamp)]]</span> </th>
                                <td :style="timeStyle(item.time_delta)">[[calculateTime(item.time_delta)]]</td>
                                <td :style="getVolumeBlockStyle(item, key, item.price_delta, item.price_delta)">[[roundData(item.total)]]</td>
                                <td :style="getDeltaStyle(item.delta, 0, item.total)">[[roundData(item.delta, item.total)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.delta, 0, item.total)">[[getPercent(item.delta, item.total)]]%</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.sells, -1)">[[roundData(item.sells)]]</td>
                                <td v-if="showDelta"  :style="getDeltaStyle(item.buys, 1)">[[roundData(item.buys)]]</td>
                                <td :style="getCVDStyle(item.divergence, key, item.delta_cumulative, 'delta')">[[item.delta_cumulative]]</td>
                                <td style="display:none">[[item.oi_cumulative]]</td>
                                <td :style="getOIStyle(item.oi_delta)">[[roundData(item.oi_delta)]]</td>
                                <td :style="getCandleStyle(item.open, item.close)" align="right">[[item.price_delta]] <span v-if="!mobile"> / ([[Math.abs(item.high - item.low)]]) </span></td>
                                <td >[[item.high]]</td>
                                <td >[[item.low]]</td>
                                <td :style="getCloseStyle(item.close, key, 'delta')">[[item.close]]</td>
                            </tr>
                                    <template v-if="showCandle == key">
                                        <tr>
                                            <td colspan="7">
                                                <span>
                                                    [[item]]
                                                </span>
                                            </td>
                                        </tr>

                                    </template>

                            </template>
                        </tbody>

                    </table>
                </div>
            </div>



        </div> <!-- end vue app-->

    </main>
</body>

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">


var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}


startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {
        this.ofTimer()
        this.getOFData()

        if (mobile) {
            this.mobile = true
        }
        if (localStorage['UTC']) {
            this.UTCadjust = localStorage['UTC']
        }
        if (localStorage['lookback']) {
            this.lookback = localStorage['lookback']
        }
        if (!this.lookback || this.lookback == 'NaN') {
            this.lookback = 60
        }

    },
    data: {
        tickLookback: 10,
        showVertical: true,
        coin : 'BTC',
        coins : ['BTC', 'ETH', 'GALA'],
        coinOBJ : {},
        user : '',
        login : false,
        history : {},
        lookback : 40,
        showChart : 1,
        showStream : false,
        showBS : false,
        showTable : 'Time',
        UTCadjust : 0,
        showDelta : true,
        showCandle : null,
        showVolCandle : null,
        mobile : false,
        volumeBlocks : [],
        volumeFlow : [],
        timeBlocks : [],
        historyTime : [],
        timeFlow : [],
        deltaBlocks : [],
        deltaFlow : [],
        stream : {},
        lastAlertTime: null,
        alertOn : true,
        showAlerts : false,
        volumeBlockList : 20,
        volumeBlockSize : 2,
        timeBlockList : 100,
        timeMarker : 0,
        timeBlockSize : 5,
        timeSizes : [5,15,30,60],
        of_timer : '',
        ofAlert : 0,
        localHigh : 0,
        localLow : 0,
        optionsP : {
            showPoint: false,
            showLine: true,
            showArea: false,
            lineSmooth: false,
            showLabel: false,
            axisX: {
                showGrid: false,
                showLabel: false,
                scaleMinSpace: 20,
                offset: 0
              },
            axisY: {
                offset: 0,
                scaleMinSpace: 40,
                showGrid: true,
                showLabel: false
              }
        },
        optionsV : {
            seriesBarDistance: 10,
            showLabel: false,
            axisX: {
                showGrid: false,
                showLabel: false,
                scaleMinSpace: 20,
                offset: 0
              },
            axisY: {
                offset: 0,
                scaleMinSpace: 40,
                showGrid: true,
                showLabel: false
              }
          }
    },
    methods: {
        goTo: function(link){


            var str = window.location.href

            let url = str + link

            console.log('goTO', url);
            window.location = url

        },
        getCurrent: function (price) {
            let pFloor = Math.floor(this.stream['lastPrice']/10)*10

            if (price == pFloor.toString()) {
                return {background:'gold', color:'black'}
            }
        },
        getImbalance: function (side, per) {
            console.log(side, per)
            let colors ={
                sell : {background:'red'},
                buy : {background:'green'}
            }

            if (per > 369) {
                return colors[side]
            }

        },
        getVerticalTable: function () {
            if (!this.mobile) {
                return {width:'530px'}
            } else {
                return {width:'300px'}
            }

        },
        getRange: function (high, low) {
            let abs = Math.abs(high - low)

            let c = {
                BTC : 1,
                ETH : 100,
                GALA : 10000
            }

            return Math.round(abs*c[this.coin])/c[this.coin]


        },
        toggleCoin: function () {
            let x = this.coins.indexOf(this.coin)

            let n = x + 1
            if (n > this.coins.length - 1) {
                n = 0
            }

            this.coin = this.coins[n]
        },
        audioAlert: function () {
            if (this.alertOn == false) {
                return false
            }

            console.log(document.getElementById('xyz'))

            let lastAlert = this.stream['alerts'][0]

            let audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/software.wav"

            if (lastAlert && lastAlert[1].includes('CVD')) {
                audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/atm.wav"
            } else if (lastAlert && lastAlert[1].includes('Trade')) {
                audio = "https://rekt-journal.s3.ap-northeast-1.amazonaws.com/game.wav"
            }

            document.getElementById('xyz').src = audio
            document.getElementById('xyz').play()
        },
        getAlert: function (mode, key) {


            let requestAlert = null
            if (this.stream['alerts'] && this.stream['alerts'][key]) {
                requestAlert = this.stream['alerts'][key]
            }

            if (requestAlert && mode == 'note' ) {
                if (requestAlert[0]) {
                    let alert =  this.getTime(requestAlert[0]) + ' ' + requestAlert[1]
                    return alert
                }
            } else if (requestAlert && mode == 'info' ) {
                if (requestAlert[2]) {
                    let notice = requestAlert[1]
                    let alert = requestAlert[2]

                    if (notice.includes('CVD')) {
                        if (alert.includes('Bull')) {
                            return 'Potential Bullish Divergence Occuring'
                        }
                        if (alert.includes('Bear')) {
                            return 'Potential Bearish Divergence Occuring'
                        }
                    } else if (notice.includes('Trade')) {
                        return alert
                    } else {
                        return alert
                    }
                }
            } else {
                return 'No Alert'
            }

        },
        showCandleToggle: function (key) {
            console.log(key)
            if (this.showCandle == key) {
                this.showCandle = null
            } else {
                this.showCandle = key
            }
        },
        getManualLookback: function (key) {
            let tableTotal = this.getTimeBlocks.length
            let totalTotal = this.timeBlocks.length
            let index = tableTotal - key
            console.log(index, key)

            this.lookback = Math.round((index/totalTotal)*100)
        },
        setLookBack: function (n) {

            console.log(n, this.lookback, (this.lookback + n)/10 )

            this.lookback = Math.round((this.lookback + n)/10) * 10
        },
        updateCharts: function () {
            let blockOBJ = {
                Time : this.timeBlocks,
                Volume : this.volumeBlocks
            }

            if (!blockOBJ[this.showTable]) {
                console.log('no tables')
                return false
            }

            let blocks = blockOBJ[this.showTable]

            let labels = []

            let seriesP = [[],[],[]]
            let seriesD = [[],[],[]]
            let seriesO = [[],[],[]]
            let seriesV = [[],[],[],[]]

            let total = blocks.length

            let cutoff = total - (total * this.lookback/100)


            for (let tb in blocks) {
                if (tb > cutoff) {
                    labels.push(tb)
                    seriesP[0].push(blocks[tb]['close'])
                    seriesD[1].push(blocks[tb]['delta_cumulative'])
                    if (blocks[tb]['oi_cumulative'] != 0) {
                       seriesO[2].push(blocks[tb]['oi_cumulative'])
                    }
                    seriesV[3].push(blocks[tb]['total'])
                }
            }

            dataP = { labels : labels, series : seriesP}
            dataD = { labels : labels, series : seriesD}
            dataO = { labels : labels, series : seriesO}
            dataV = { labels : labels, series : seriesV}

            new Chartist.Line('#chart1', dataP, this.optionsP);
            new Chartist.Line('#chart2', dataD, this.optionsP);
            new Chartist.Line('#chart3', dataO, this.optionsP);



              var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                  seriesBarDistance: 5,
                  axisX: {
                    labelInterpolationFnc: function (value) {
                      return value[0];
                    }
                  }
                }]
              ];

            new Chartist.Bar('#chart4', dataV, this.optionsV, responsiveOptions);

        },
        setTime: function (n) {
            this.timeMarker += n

            if (this.timeMarker > 3 || this.timeMarker < 0) {
                this.timeMarker = 0
            }

            this.timeBlockSize = this.timeSizes[this.timeMarker]


        },
        setVol: function (n) {
            let sizes = this.coinOBJ[this.coin]['volsize']
            let i = sizes.indexOf(this.volumeBlockSize)

            if (this.volumeBlockSize == sizes.length - 1) {
                this.volumeBlockSize = sizes[0]
            } else {
                this.volumeBlockSize = sizes[i+1]
            }
        },
        getTickPrices: function (ticks, mode) {

            let returnValues = {
                price : [],
                amount : []
            }

            for (let p in ticks) {
                returnValues['price'].unshift(p)
                returnValues['amount'].unshift(ticks[p])
            }

            return returnValues[mode]

        },
        getLocal: function (mode, key, vert) {
            let sets = {
                    high : this.localHigh,
                    low : this.localLow,
                }
            let colors = {
                    high : '#004D40',
                    low : 'firebrick',
                }

            if (this.timeBlockSize == 5) {
                if (key == sets[mode] + 1 && !vert) {
                return { background: colors[mode]}
                }
                if (key == this.getTimeBlocks.length - sets[mode] - 2 && vert) {
                return { background: colors[mode]}
                }
            }
        },
        getCVDStyle: function (CVDdivergence, key, CVD, mode) {
            if (key == 1 && CVDdivergence && mode == 'time') {

                if (CVDdivergence.lowInfo && CVDdivergence.lowInfo.index) {
                    this.localLow = CVDdivergence.lowInfo.index
                    this.localHigh = CVDdivergence.highInfo.index
                    // console.log(this.localHigh , CVDdivergence.highInfo, this.localLow, CVDdivergence.lowInfo, CVD)
                }
            }

            if (this.timeBlockSize == 5 && mode == 'time' && key != 0) {
                if (CVDdivergence && CVDdivergence.highInfo && CVDdivergence.highInfo.div) {
                    return {color: 'pink'}
                } else if (CVDdivergence && CVDdivergence.highInfo && CVDdivergence.lowInfo.div) {
                    return {color: 'lightblue'}
                }
            }

            let candles = {
                time : this.getReverseTimeBlocks[key + 1 ],
                vol : this.getReverseTimeBlocks[key + 1 ],
                delta : this.getReverseTimeBlocks[key + 1 ]
            }

            previousCandle = candles[mode]

            if (previousCandle && CVD < previousCandle['delta_cumulative']) {
                return {color: '#E53935'}
            } else if (previousCandle && CVD > previousCandle['delta_cumulative']) {
                return {color: 'lightgreen'}
            }

        },
        getCloseStyle: function (close, key, mode) {

            let candles = {
                time : this.getReverseTimeBlocks[key + 1 ],
                volume : this.getReverseTimeBlocks[key + 1 ],
                delta : this.getReverseTimeBlocks[key + 1 ]
            }

            previousCandle = candles[mode]

            if (previousCandle && close < previousCandle['close']) {
                return {color: '#E53935'}
            } else if (previousCandle && close > previousCandle['close']) {
                return {color: 'lightgreen'}
            }

        },
        getMargin: function () {
            if (this.mobile) {
                return "content-section"
            } else {
                return "content-section ml-5 mr-5"
            }
        },
        getFont: function () {
            if (this.mobile) {
                return "font-size:12px"
            }
        },
        getTime: function (t, v) {
            let time = t.split(' ')
            let adjust = this.UTCadjust
            if (!parseInt(adjust)) {
                adjust = 0
            }
            let hours = parseInt(time[1].split(':')[0]) + parseInt(adjust)
            if (hours > 23) {
                hours = hours - 24
            }
            let newTime = time[1].split(':')
            let x = time[0] + ' '

            if (this.mobile || v == 'v') {
                return hours + ':' + newTime[1]
            } else {
                return hours + ':' + newTime[1] + ':' + newTime[2].split('.')[0]
            }

        },
        roundData: function (data) {
            //deal with K
            if (data >= 1000000 || data <= -1000000) {
                let x = data/100000
                let y = Math.round(x)
                let r = y.toString()/10
                return r + 'm'
            } else {
                let x = data/1000
                let y = Math.round(x)
                let r = y.toString()
                return r + 'k'
                if (r == '1000') {
                    return '1m'
                } else {
                    return r + 'k'
                }
            }
        },
        getPercent: function (data, total) {
            //deal with K
            let x = (data/total)*100
            let y = Math.round(x)
            let r = y.toString()
            return r
        },
        calculateTime: function (ms) {
            return Math.round((ms/1000))
        },
        timeStyle: function (ms) {
            if (Math.round((ms/1000)) <= 60) {
                return {background: '#2C3E50' }
            } else {
                return {background: '#1B2631' }
            }

        },
        getCandleStyle: function(open, close) {
            let style = {color : '#E53935'}
            if (open < close) {
                style = {color : 'lightgreen'}
            }
            return style
        },
        getOIStyle: function(oi) {
            let style = {background : '#303F9F', color : 'white'}
            if (oi == 0) {
                style = {}
            } else if (oi < -1000000) {
                style = {background : '#BA68C8', color : 'white'}
            }else if (oi < 0) {
                style = {background : 'purple', color : 'white'}
            }else if (oi > 1000000) {
                style = {background : 'DodgerBlue', color : 'white'}
            }
            return style
        },
        getDeltaStyle: function(delta, mode, total) {
            // mode 0 is normal
            // 1 is Buys
            // -1 is Sells

            let p = this.getPercent(delta, total)
            let style = {background : '#1B2631'}
            if (mode == 0) {
                if (p < -80 ) {
                    // Orange
                    style = {background : '#FF6F00'}
                } else if ( p < -40 ) {
                    style = {background : '#EF6C00'}
                } else if (p < 0) {
                    style = {background : '#FB8C00'}
                } else if (p > 80 ) {
                    // Orange
                    style = {background : '#00838F'}
                } else if ( p > 40 ) {
                    style = {background : '#0097A7'}
                } else if (p > 0) {
                    style = {background : '#00ACC1'}
                }
            } else if (mode < 0) {
                if (delta > 5000000) {
                   style = {background : '#795548'}
                } else if (delta > 1000000) {
                   style = {background : '#4E342E'}
                }
            } else if (mode > 0) {
                if (delta > 5000000) {
                   style = {background : '#455A64 '}
                } else if (delta > 1000000) {
                   style = {background : '#263238'}
                }
            }
            return style
        },
        getVolumeStyle: function(pva_status, key, price) {

            let style = {background : '#1B2631'}


            if (pva_status['pva150']) {
                if (price < 0) {
                    //pink
                    style = {background : '#880E4F'}
                } else if (price > 0) {
                    //dark green
                    style = {background : '#004D40'}
                }
            } else if (pva_status['pva200']) {
                if (price < 0) {
                    //red
                    style = {background : '#D81B60'}
                } else if (price > 0) {
                    //green
                    style = {background : '#66CC00'}
                } else if (price == 0) {
                    //browns
                    style = {background : '#922B21'}
                }
            }

            if (this.user) {
                if (pva_status['pva200'] && pva_status['PVAbearDIV']) {
                    style = {background : '#BDBDBD' , color : '#D32F2F' }
                } else if (pva_status['pva200'] && pva_status['PVAbullDIV']) {
                    style = {background : '#BDBDBD' , color : 'green' }
                }
            }


            return style
        },
        getVolumeDivStyle: function(price, delta, item) {

            if (item.volDiv && item.volDiv) {
                return {background : 'darkpurple'}
            } else {
                return false
            }

            let style = {}

            if (price < 0 && delta > 0 ) {
                //pink
                style = {background : '#880E4F'}

            } else if (price > 0 && delta < 0 ) {

                style = {background : '#66CC00'}

            }

            if (this.user) {
               return style
            }
        },
        getVolumeBlockStyle: function(item, key, price) {

            let style = {}

            if (item.volcandle_two && item.volcandle_two['Bull']) {
                style = {background: 'grey'}
            }
            if (item.volcandle_two && item.volcandle_two['Bear']) {
                style = {background: 'grey'}
            }

            return style
        },
        ofTimer: function () {
            this.of_timer = setInterval(this.getOFData, 3000)
            console.log('timer', this.of_timer)
        },
        clearOF: function () {
            clearInterval(this.of_timer)
        },
        clearLimitPrice: function () {
            this.limitData.price = 0
        },
        getOFData: function (mode) {
            if (!this.coin) {
                return false
            }

            if (this.coinOBJ[this.coin] && !this.coinOBJ[this.coin]['volsize'].includes(this.volumeBlockSize)) {
                console.log(this.coinOBJ)
                this.volumeBlockSize = this.coinOBJ[this.coin]['volsize'][0]
            }

            console.log('getOFData')

            $.ajax({
                data : {
                    volumeBlockSize: this.volumeBlockSize,
                    timeBlockSize: this.timeBlockSize,
                    coin: this.coin
                },
                type : 'POST',
                url : '/getOF'

            })
            .done(function(data) {
                console.log('OF data received')
                vue.volumeFlow = JSON.parse(data.volumeFlow)

                let newVblocks = JSON.parse(data.volumeBlocks)

                vScroll = false

                if (newVblocks.length > vue.volumeBlocks.length) {
                    vScroll = true
                }

                vue.volumeBlocks = newVblocks

                vue.stream = JSON.parse(data.stream)

                vue.timeFlow = JSON.parse(data.timeFlow)

                let newTblocks = JSON.parse(data.timeBlocks)

                tScroll = false

                if (newTblocks.length > vue.timeBlocks.length) {
                    tScroll = true
                }

                vue.timeBlocks = newTblocks



                //vue.deltaBlocks = JSON.parse(data.deltaBlocks)

                //vue.deltaFlow = JSON.parse(data.deltaFlow)


                let et = document.getElementById('timeTableVert')
                let ev = document.getElementById('volTableVert')
                if (et) {
                    if (et.scrollLeft == 0 || tScroll) {
                       et.scrollLeft = et.scrollWidth
                    }
                    if (ev.scrollLeft == 0 || vScroll) {
                       ev.scrollLeft = ev.scrollWidth
                    }
                }







                vue.updateCharts()

                vue.user = data.user
                console.log('USER', data.user)

                vue.login = data.login
                console.log('LOGIN', data.login)

                vue.coinOBJ = JSON.parse(data.coinDict)

            })
            .fail(function(){
                  console.log('error has occurred gData')
                  location.reload()
            });
        }
    },
    computed: {
        getTicksReversed() {
            const reversedTicks = Object.keys(this.getTickCandles).reverse();
            return reversedTicks
        },
        getTickCandles() {
            if (vue.getReverseTimeBlocks.length == 0) {
                return {}
            }

            let candleLookback = this.tickLookback
            let candles = []
            for (let i = 0; i < candleLookback; i++) {
                console.log(i)
                candles.push(vue.getReverseTimeBlocks[i]['tickList'])
            }
            console.log('candles', candles)

            let tickOBJ = {}

            for (let c in candles) {
                for (let t in candles[c]) {
                    let tick = candles[c][t]['tickPrice']
                    if (!tickOBJ[tick]) {
                        tickOBJ[tick] = []
                    }
                }
            }
            for (let tickLevel in tickOBJ) {
                for (let i = 0; i < candleLookback; i++) {
                    tickOBJ[tickLevel].push({})
                }
            }

            for (let tickLevel in tickOBJ) {
                for (let c in candles) {
                    for (let t in candles[c]) {
                        let info = candles[c][t]
                        let tick = info['tickPrice']
                        let candle = candleLookback - c - 1
                        if (tickLevel == tick) {
                            tickOBJ[tickLevel][candle] = info
                        }
                    }
                }
            }

            return tickOBJ
        },
        getReverseVolumeBlocks() {
            return this.volumeBlocks.slice().reverse()
        },
        getReverseTimeBlocks() {
            return this.timeBlocks.slice().reverse()
        },
        getTimeBlocks() {
            let tbl = this.timeBlocks.length
            if (tbl > 50) {
                return this.timeBlocks.slice(-50)
            } else {
                return this.timeBlocks
            }
        },
        getVolBlocks() {
            let vbl = this.volumeBlocks.length
            if (vbl > 50) {
                return this.volumeBlocks.slice(-50)
            } else {
                return this.volumeBlocks
            }
        }
    },
    watch: {
        stream: function () {
            console.log(this.stream)
            if (this.stream['alerts'] && this.stream['alerts'][0]) {
                if (this.lastAlertTime && this.stream['alerts'][0][0] != this.lastAlertTime) {
                    this.audioAlert()
                    this.lastAlertTime = this.stream['alerts'][0][0]
                }
            }
        },
        UTCadjust: function () {
            console.log('UTC', this.UTCadjust)
            localStorage.setItem('UTC', this.UTCadjust)
        },
        timeBlockSize: function () {
            this.timeBlocks = []
        },
        showChart: function () {
            if (this.showChart > 2) {
                this.showChart = 0
            }
        },
        volumeBlockSize: function () {

        },
        lookback: function () {
            if (this.lookback > 100) {
                this.lookback = 100
            } else if (this.lookback < 1) {
                this.lookback = 10
            }
            console.log('lookback')
            localStorage.setItem('lookback', this.lookback)
        }

    }

})// end NEW VUE

}


</script>



{% endblock %}



