{% extends "layout.html" %}

{% block content %}

<div class="container m-3">
    <div class="row">
        <div class="col">
            <h1 class="mb-5 text-light">Orderflow Worker Start Command</h1>


                    <input id="x" class="form-control mx-3" type="number" name="x"/>


                <button class="btn btn-primary" type="submit" @click="login()">Start Code</button>
            </form>
        </div>
    </div>
</div>

{% endblock  %}


{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>


<script type="text/javascript">


var report = navigator.userAgent
console.log(report)

let mobile = false

if (report.includes('Android') || report.includes('iPhone') ) {
    mobile = true
    console.log('mobile')
}


startVue()


function startVue(){

let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function() {

        if (mobile) {
            this.mobile = true
        }

    },
    data: {
        user : '',
        passcode : ''
    },
    methods: {
        goTo: function(){

            var str = window.location.href.split('start')[0]

            let url = str

            console.log('goTO', url);
            window.location = url

        },
        login: function () {
            console.log('start')

            $.ajax({
                data : {
                },
                type : 'POST',
                url : '/workerAction'

            })
            .done(function(data) {
                console.log(data)
                this.goTo()

            })
            .fail(function(){
                  alert('error has occurred with worker start');
            });
        },
    }
})// end NEW VUE

}


</script>



{% endblock %}







